raspberry_pi/node_red.json
[
  {
    "id": "0a5f392a5b6dd0db",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8961e7945319b98c",
    "type": "inject",
    "z": "0a5f392a5b6dd0db",
    "name": "ON",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 350,
    "y": 240,
    "wires": [["0a464e32d13196d8"]]
  },
  {
    "id": "0a464e32d13196d8",
    "type": "rpi-dht22",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "topic": "rpi-dht11",
    "dht": "11",
    "pintype": "0",
    "pin": "26",
    "x": 520,
    "y": 240,
    "wires": [["95d3db1d3b508c2e", "2eec80760796833b", "31ecdd0ccacdb468"]]
  },
  {
    "id": "95d3db1d3b508c2e",
    "type": "function",
    "z": "0a5f392a5b6dd0db",
    "name": "temp",
    "func": "msg.payload = msg.payload;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 240,
    "wires": [["9517cbd28ac9e934", "3d40f2aff802945c", "022ebd106531d8a9"]]
  },
  {
    "id": "9517cbd28ac9e934",
    "type": "ui_gauge",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "group": "e150758284f99be6",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "temperature",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "50",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "2eec80760796833b",
    "type": "function",
    "z": "0a5f392a5b6dd0db",
    "name": "Humi",
    "func": "msg.payload = msg.humidity;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 300,
    "wires": [["e794ace920138f01", "6bccfcc158b2bb5e", "97767b3001eae249"]]
  },
  {
    "id": "e794ace920138f01",
    "type": "ui_gauge",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "group": "e150758284f99be6",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "humidity",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1000,
    "y": 300,
    "wires": []
  },
  {
    "id": "97767b3001eae249",
    "type": "function",
    "z": "0a5f392a5b6dd0db",
    "name": "Over Humi",
    "func": "if(msg.payload > 40){\n    msg.payload = 1 ;\n} else{\n    msg.payload = 0 ;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 400,
    "wires": [["98876fd65177eac9"]]
  },
  {
    "id": "31ecdd0ccacdb468",
    "type": "debug",
    "z": "0a5f392a5b6dd0db",
    "name": "debug 1",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 180,
    "wires": []
  },
  {
    "id": "6c9ef6541a4b5e3e",
    "type": "mqtt in",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "topic": "relay",
    "qos": "2",
    "datatype": "auto",
    "broker": "0234f37ae5e47be6",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 350,
    "y": 320,
    "wires": [["0a464e32d13196d8"]]
  },
  {
    "id": "3d40f2aff802945c",
    "type": "mqtt out",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "topic": "temp",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "0234f37ae5e47be6",
    "x": 1050,
    "y": 120,
    "wires": []
  },
  {
    "id": "6bccfcc158b2bb5e",
    "type": "mqtt out",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "topic": "hum",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "0234f37ae5e47be6",
    "x": 990,
    "y": 340,
    "wires": []
  },
  {
    "id": "fd2d73791b7a60be",
    "type": "rpi-gpio in",
    "z": "0a5f392a5b6dd0db",
    "name": "flame",
    "pin": "21",
    "intype": "tri",
    "debounce": "100",
    "read": false,
    "bcm": true,
    "x": 350,
    "y": 480,
    "wires": [
      [
        "dd6a9b4a34d1692c",
        "4611708fabfa984c",
        "1e5f9266762680ae",
        "d3968f2bb24a2dd1"
      ]
    ]
  },
  {
    "id": "dd6a9b4a34d1692c",
    "type": "debug",
    "z": "0a5f392a5b6dd0db",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 420,
    "wires": []
  },
  {
    "id": "4611708fabfa984c",
    "type": "ui_gauge",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "group": "e150758284f99be6",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "flame",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "1",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 590,
    "y": 460,
    "wires": []
  },
  {
    "id": "c646260cfdd4e7fe",
    "type": "inject",
    "z": "0a5f392a5b6dd0db",
    "name": "Send Message",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 380,
    "y": 580,
    "wires": [["1e5f9266762680ae"]]
  },
  {
    "id": "1e5f9266762680ae",
    "type": "function",
    "z": "0a5f392a5b6dd0db",
    "name": "Format Message",
    "func": "if(msg.payload == 1){\n    msg.payload = {\n        chatId: 7808452863,\n        type: 'message',\n        content: '화재 발생! 즉시 대피하세요!'\n    };\n    return msg;\n}\nelse{\n    return 0;\n    }",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 580,
    "wires": [["fa6cd762a1c99659", "fd56617cb91ebd83"]]
  },
  {
    "id": "fa6cd762a1c99659",
    "type": "telegram sender",
    "z": "0a5f392a5b6dd0db",
    "name": "Send to Telegram",
    "bot": "telegram-config",
    "haserroroutput": false,
    "outputs": 1,
    "x": 890,
    "y": 580,
    "wires": [[]]
  },
  {
    "id": "fd56617cb91ebd83",
    "type": "debug",
    "z": "0a5f392a5b6dd0db",
    "name": "debug 3",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 820,
    "y": 640,
    "wires": []
  },
  {
    "id": "8f7bcf8cb168af1f",
    "type": "rpi-gpio out",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "pin": "20",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "bcm": true,
    "x": 760,
    "y": 500,
    "wires": []
  },
  {
    "id": "d3968f2bb24a2dd1",
    "type": "function",
    "z": "0a5f392a5b6dd0db",
    "name": "Buzzer",
    "func": "let state = msg.payload; // GPIO 입력 값 (1 또는 0)\nlet nodeState = context.get('nodeState') || false;\n\nif (state === 0) { // 화재 감지 (HIGH 입력)\n    if (!nodeState) { // 동작 중이 아닐 때만 실행\n        context.set('nodeState', true);\n       \n        node.send({ payload: 1 }); // 부저 ON (3초 동안 울림)\n       \n        setTimeout(() => {\n            node.send({ payload: 0 }); // 부저 OFF (3초 후 꺼짐)\n            context.set('nodeState', false); // 상태 초기화\n        }, 1000);\n    }\n}\n\nreturn null; // 별도의 추가 출력을 방지\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 500,
    "wires": [["8f7bcf8cb168af1f"]]
  },
  {
    "id": "022ebd106531d8a9",
    "type": "function",
    "z": "0a5f392a5b6dd0db",
    "name": "Over Temp",
    "func": "if(msg.payload > 30){\n    msg.payload = 1 ;\n} else{\n    msg.payload = 0 ;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 200,
    "wires": [["98876fd65177eac9"]]
  },
  {
    "id": "98876fd65177eac9",
    "type": "rpi-gpio out",
    "z": "0a5f392a5b6dd0db",
    "name": "",
    "pin": "17",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "bcm": true,
    "x": 1240,
    "y": 260,
    "wires": []
  },
  {
    "id": "b532193fd43833ae",
    "type": "ui_spacer",
    "z": "0a5f392a5b6dd0db",
    "name": "spacer",
    "group": "e150758284f99be6",
    "order": 2,
    "width": 6,
    "height": 1
  },
  {
    "id": "e150758284f99be6",
    "type": "ui_group",
    "name": "temperation sensior",
    "tab": "f89b7d19571400e3",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "0234f37ae5e47be6",
    "type": "mqtt-broker",
    "name": "localhost",
    "broker": "localhost:192.168.0.2:18083",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "5",
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "telegram-config",
    "type": "telegram bot",
    "botname": "",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "https://api.telegram.org",
    "testenvironment": false,
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksport": "",
    "socksusername": "",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbothost": "",
    "localbotport": "",
    "publicbotport": "",
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "f89b7d19571400e3",
    "type": "ui_tab",
    "name": "SAT-2000",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
